@tailwind base;
@tailwind components;
@tailwind utilities;

ul,
ol {
  padding: 0 1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.ProseMirror {
  outline: none;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  padding: 1rem;
  min-height: 120px;
}

code {
  background-color: #f7f7f7;
  color: #000000;
  padding: 0.5rem;
  border-radius: 4px;
  font-family: "JetBrainsMono", monospace;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}
